@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: 'Satoshi', sans-serif;
}

@layer base {
  html {
      @apply scroll-smooth;
  }
}

.link-underline {
  border-bottom-width: 0;
  background-image: linear-gradient(transparent, transparent), linear-gradient(#102921, #102921);
  background-size: 0 1.5px;
  background-position: 100% 100%;
  background-repeat: no-repeat;
  transition: background-size 250ms ease-in-out;
}

.link-underline:hover {
  background-size: 100% 1.5px;
  background-position: 100% 100%;
}

.link-underline-1 {
  border-bottom-width: 0;
  background-image: linear-gradient(transparent, transparent), linear-gradient(#fff, #fff);
  background-size: 0 1.5px;
  background-position: 0 100%;
  background-repeat: no-repeat;
  transition: background-size 250ms ease-in-out;
}

.link-underline-1:hover {
  background-size: 100% 1.5px;
  background-position: 0 100%;
}